@import '../../../variables.scss';

.container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (min-width: $breakpoint-medium) {
  .container {
    justify-content: center;
  }
}
