{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": { "targets": { "node": "current" } }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"]
      }
    ],
    [
      "@babel/transform-runtime",
      {
        "regenerator": true
      }
    ],
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "@babel/syntax-dynamic-import"
  ],
  "env": {
    "production": {
      "plugins": [
        "@babel/transform-destructuring",
        "@babel/transform-react-constant-elements",
        "@babel/transform-react-inline-elements",
        "transform-react-remove-prop-types",
        "emotion"
      ]
    },
    "test": {
      "plugins": ["dynamic-import-node"]
    }
  }
}
