@import '../../variables.scss';

.episode {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  background-color: $color-radiorevolt-darkgrey;
  color: $color-text-light;
  padding: 16px;
  width: 100%;
  margin-bottom: 2em;
  cursor: pointer;

  position: relative;
}

.meta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
<<<<<<< HEAD
=======
  width: 100%;
>>>>>>> made it more responsive
  padding-left: 16px;
  max-width: 90%;
}

.title {
  position: relative;
}

.publishedAt {
  padding-top: 8px;
  color: $color-text-dark;
}

.cropOverflow {
  overflow:hidden; 
  white-space:nowrap; 
  text-overflow:ellipsis;
  max-width: 100%; 
}
