@import 'variables.scss';

.episode {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  background-color: $color-radiorevolt-darkgrey;
  color: $color-text-light;
  padding: 16px;
  width: 100%;
  margin-bottom: 2em;
  cursor: pointer;
}

.meta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding-left: 16px;
}

.lead {
  padding-top: 4px;
  text-align: left;
  color: $color-text-dark;

  & > * {
    margin: 0;
  }
}

.publishedAt {
  padding-top: 8px;
}
