@import 'variables.scss';


.wrapper{
  display:flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  width: 100%;
}
.day{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.date{
  font-size: x-large;
  font-weight: bold;
}
.activeNow{
  background-color: $color-radiorevolt-orange;
}

.row{
  display:flex;
}

.tableCell{
  padding: 5px 10px 5px 10px;
  &:nth-child(2) {
    padding-top: 12px;
  }
}

.titles{
  padding: 0px 0px 0px 0px;
  margin: 0px 70px 0px 0px;
}

.time{
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 70px;
}

.headerCell{
  padding: 10px 10px 5px 10px;
  font-size: 20px;
  border-bottom: 1px solid black;
}

.button{
  border-radius: 8px;
}
