.sendeplan td {
  border: 1px black solid;
  padding: 6px;
  text-align: center;
}

.sendeplan th {
  border: 1px black solid;
  padding: 3px;
  text-align: center;
  background-color: #ECB61C;
  color: white;
}

.sendeplan h2 {
  text-align: center;
}

.sendeplan table {
  font-size: 85%;
  position: relative;
  left: 0;
  right: 0;
  width: 55%;
}

.sendeplan button {
  border: 1px black solid;
  padding: 10px;
  border-radius: 2px;
}

.sendeplan button:hover {
  cursor: pointer;
}

.fullTable {
  overflow: auto;
  border-left: 1px solid #BBB;
  border-right: 1px solid #BBB;
}
