.sendeplan td {
  border: 1px black solid;
  padding: 6px;
}

.sendeplan th {
  border: 1px black solid;
  padding-left: 6px;
  background-color: #ECB61C;
  color: white;
  text-align: left;
}

.sendeplan h2 {
  text-align: center;
}

.sendeplan table {
  font-size: 85%;
  position: relative;
  left: 0;
  right: 0;
  width: 40%;
}

.toggleWeek {
  border: 1px #222 solid;
  padding: 10px;
  border-radius: 2px;
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;
}

.toggleWeek:hover {
  cursor: pointer;
  background-color: #222;
  color: white;
}

.fullTable {
  overflow: auto;
  border-left: 1px solid #BBB;
  border-right: 1px solid #BBB;
}

.simpleTable {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1997px) {
  .fullTable {
    border-left: none;
    border-right: none;
    display: flex;
    flex-direction: column;
  }

  .sendeplan table {
    align-self: center;
  }
}
