@import 'variables.scss';

.container {
  background-color: $color-radiorevolt-white;
  color: #111;
  font-family: 'Open Sans', sans-serif;
}

.content {
  width: 95%;
  padding-top: 1em;
  min-height: 100vh;
  margin: 0 auto;
}

@media screen and (min-width: $breakpoint-large) {
  .content {
    max-width: $breakpoint-large;
  }
}

// Ensure consistent styling of outline, since we must change it sometimes to
// ensure good enough contrast
a,
button {
  &:focus {
    outline: 1px dotted #212121;
  }
}
