@import 'variables.scss';

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  cursor: pointer;

  padding: 10px;
  margin-left: 20px;
  border-radius: 10px;
  background-color: $color-radiorevolt-darkgrey;
}

.hamburgerIcon {
  
  height: 32px;
  padding: 0 10px 0 0;
}

.hamburgerText {
  font-size: 21px;
}