@import '../../../variables.scss';

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  cursor: pointer;

  padding: 10px;
  margin-left: 20px;
  border-style: none;
  border-radius: 10px;
  background-color: $color-radiorevolt-darkgrey;
}

.hamburgerIcon {
  height: 32px;
}

.hamburgerText {
  display: none;
  font-size: 21px;
  padding: 0 0 0 10px;
}

.overlay {
  top: 0;
  left: 0;
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.67);
  z-index: 100;
}

.active {
  display: block;
}

@media screen and (min-width: $breakpoint-small) {
  .hamburgerText {
    display: block;
  }
}
