@import 'variables.scss';

.image {
  width: 100%;
}

.title {
  font-size: $frontpage-title-size;
  margin-bottom: 0.5rem;
  margin-top: 0.7rem;
  text-align: center;
}

.titleLink {
  color: inherit;
  text-decoration: none;
}

.titleLink:hover {
  text-decoration: underline;
}

.createdBy {
  color: $color-text-dark;
  font-size: smaller;
  text-align: center;
}
