@import '../../../variables.scss';

.audioControls {
  display: inline-flex;
  flex-direction: row;
  margin-left: 15px;
  margin-right: 15px;
  //gap: 25px;
}

.audioControls button {
  border-width: 0;
}

.audioControlContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
  padding: 0 11px;
}

.backButton {
  transform: rotate(180deg);
  padding-left: 11px;
  padding-right: 11px;
  margin-left: 4px;
  margin-right: 4px;
  cursor: pointer;
  align-self: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.backButtonInner {
  display: flex;
  flex-direction: row;
}

.rightFacingTriangle {
  width: 0;
  height: 0;
  border-left: 28px solid #fff;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
}

.forwardButton {
  padding-left: 11px;
  padding-right: 11px;
  margin-left: 4px;
  margin-right: 4px;
  cursor: pointer;
  align-self: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 50px;
}

.forwardButtonInner {
  display: flex;
  flex-direction: row;
}

.line {
  width: 4px;
  background-color: #fff;
}

.skipBackwardsButton,
.skipAheadButton {
  color: white;
  cursor: pointer;
}

.disabled {
  opacity: 0.2;
  cursor: default;
}

.disabled:focus {
  outline: 0;
}

@media screen and (min-width: $breakpoint-medium) {
  .audioControls {
    gap: 25px;
  }
}
