@import 'variables.scss';

$image-height: 30vh;

.expandedContainer {
  text-align: center;
  color: white; /* unødvendig */
  height: 100%;
  background-color: #333;
  position: fixed;
  width: 100%;
  transition: all 0.4s ease;
  z-index: 4;
  padding-bottom: 15px;
}

.expanded {
  bottom: 0;
}

.hidden {
  bottom: -150%;
}

.closeButton {
  position: absolute;
  cursor: pointer;
  width: 35px;
  height: 35px;
  margin: 15px;
  top: 0px;
  stroke-width: 2px;
  stroke: $color-text-dark;
}

.Container {
  display: grid;
  color: white;
  width: 100%;
  height: 100%;
  justify-items: center;
  align-items: end;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  grid-template-rows: 70% 30%;

  .infoContainer {
    display: grid;
    justify-items: center;
    padding: 10px;
    .imgContainer {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      height: $image-height;
      width: auto;
      background-color: white;
      outline: 5px solid $color-radiorevolt-orange;
      padding: 5px;

      img {
        width: $image-height;
        max-height: $image-height;
      }
    }

    span {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .showName {
      font-size: 1.5em;
      font-weight: bold;
      margin-top: 3vh;
      margin-bottom: 0;
    }

    .episodeTitle {
      font-size: 1em;
      font-weight: normal;
      font-style: oblique;
      margin-top: 2vh;
      margin-bottom: 0;
    }

    .date {
      font-size: 1em;
      font-weight: lighter;
      font-style: oblique;
      color: gray;
      margin-top: 3vh;
      margin-bottom: 0;
    }
  }
}

.progressAndControls {
  display: grid;
  grid-template-areas: 'e e e e' 'a b c d';
  grid-template-columns: 25vw 50vw 12.5vw 12.5vw;
  grid-template-rows: 10vh 10vh;
  margin-top: auto;
  color: white;
  align-self: start;
  align-items: center;
  justify-items: center;
  .expanderButton {
    transform: scale(3);
    grid-area: d;
    cursor: pointer;
    align-self: center;
    justify-self: end;
    margin-right: 3vw;
  }
  .progress {
    margin-bottom: 3vh;
    grid-area: e;
    width: 95vw;
    align-content: end;
  }
  .controls {
    grid-area: b;
  }
}

/*
For info next to program-cover on desktop
@media screen and (orientation: landscape) {
  .Container {
    align-items: center;
    grid-template-rows: 50% 50%;
    .infoContainer {
      grid-template-columns: 1fr 2fr;
      align-items: center;
      grid-gap: 10px;
      span {
        align-items: flex-start;
      }
      .text {
        text-align: left;
      }
    }
  }
}
*/
