.playPauseButton {
  padding-left: 11px;
  padding-right: 11px;
  margin-left: 4px;
  margin-right: 4px;
  cursor: pointer;
  align-self: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: none;
}

.playPauseButtonInner {
  height: 28px;
  width: 30px;
  overflow: hidden;
  position: relative;
}

.left {
  height: 100%;
  float: left;
  background-color: #FFF;
  width: 36%;
  transition: all 0.25s ease;
  overflow: hidden;
}

.right {
  height: 100%;
  float: right;
  width: 36%;
  background-color: #FFF;
  transition: all 0.25s ease;
}

.triangle1,
.triangle2 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  width: 0;
  height: 0;
  border-right: 30px solid #333;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  transition: transform 0.25s ease;
}

.triangle1 {
  transform: translate(0, -100%);
}

.triangle2 {
  transform: translate(0, 100%);
}

.paused .left {
  width: 50%;
}

.paused .right {
  width: 50%;
}

.paused .triangle1 {
  transform: translate(0, -50%);
}

.paused .triangle2 {
  transform: translate(0, 50%);
}
