
$button-length: 32px;
$pause-button-width: 11px;
$animation-effect: 0.3s ease;

.playPauseButton {
  padding: 0;
  border: none;
  cursor: pointer;
  background: transparent;
}

.buttonContainer {
  // <button> elements shrink to the size of its content,
  // and we must therefore wrap the content with a fixed-size div
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;


  padding: 0;
  width: $button-length;
  height: $button-length;

}

.left {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: $button-length;

  border-left: $pause-button-width solid white;
  border-bottom: 0 solid transparent;
  border-top: 0 solid transparent;

  &.paused {
    height: 0;
    border-left: $button-length solid white;
    border-bottom: $button-length / 2 solid transparent;
    border-top: $button-length / 2 solid transparent;
  }

  transition: height $animation-effect;
  transition: border-left $animation-effect;
}

.right {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: $button-length;

  border-left: $pause-button-width solid white;
  border-bottom: 0 solid transparent;
  border-top: 0 solid transparent;

  &.paused {
    height: 0;
    border-left: 0 solid white;
    border-bottom: 0 solid transparent;
    border-top: 0 solid transparent;
  }
  transition: height $animation-effect;
  transition: border-left $animation-effect;
}
