@import '../../../variables.scss';

.largeNavContainer {
  flex: 1;
  display: none;
  justify-content: center;
  align-items: center;
}

.smallNavContainer {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (min-width: $breakpoint-medium) {
  .largeNavContainer {
    display: flex;
  }
  .smallNavContainer {
    display: none;
  }
}
