@import 'variables.scss';

.container {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
  width: 100%;
}

.imageWrapper {
  width: 100%;
}

.image {
  width: 100%;
}

.showText {
  width: 100%;
}

.categories {
  color: gray;
}

.podcastLink,
.categories {
  padding-top: 1rem;
  width: 100%;
}

.title {
  text-align: center;
}

@media screen and (min-width: $breakpoint-small) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .imageWrapper {
    padding-right: 16px;
    width: 35%;
  }

  .showText {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    width: 65%;
  }

  .title {
    text-align: left;
  }
}
