.container {
  width: 80%;
  margin: 0 auto;
}

.showInfo {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.image {
  width: 100%;
}

.title {
  text-align: center;
}

@media (min-width: 1000px) {
  .container {
    width: 70%;
  }

  .showInfo {
    margin-bottom: 3rem;
  }

  .title {
    margin-top: 0;
    text-align: left;
  }

  .image {
    width: 30%;
  }

  .showText {
    width: 70%;
    padding-left: 2rem;
  }
}
