.container {
  margin: 0 auto;
  width: 80%;
}

.showInfo {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 2rem;
}

.image {
  width: 100%;
}

.title {
  text-align: center;
}

@media (min-width: 1000px) {
  .container {
    width: 100%;
  }

  .showInfo {
    margin-bottom: 3rem;
  }

  .title {
    margin-top: 0;
    text-align: left;
  }

  .image {
    width: 50%;
  }

  .showText {
    padding-left: 2rem;
    width: 50%;
  }
}
