.buttonWrap {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.loadMore {
  background-color: #ECB61C;
  border: 0;
  padding: 10px;
}

.loadMore:hover {
  cursor: pointer;
}

.socialMedia {
  bottom: 7%;
  position: fixed;
  right: 18%;
  visibility: hidden;
}

@media screen and (min-width: 1500px) {
  .socialMedia {
    visibility: visible;
  }
}

.facebookLogo, .instagramLogo {
  float: left;
  width: 3em;
}

.facebookLogo {
  margin-right: 10px;
}
