@import 'variables.scss';

.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playButton {
  display: none;
  background-color: #333;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
  height: 5em;
  min-width: 16em;
  font-family: inherit;
  border-width: 0;
}

.buttonText {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: start;
  color: #FFF;
  padding-right: 2em;
}

.largeText {
  font-size: 1.2em;
}

.smallText {
  font-size: 0.8em;
}

/* Hide button on smaller screens */
@media screen and (min-width: $breakpoint-large) {
  .playButton {
    display: flex;
  }
}
