@import 'variables.scss';

.container {
  // Reset browser button styles
  border: none;

  // Our own styles
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: $color-radiorevolt-darkgrey;

  cursor: pointer;
  margin-right: 20px;
  padding: 10px;
  border-radius: 10px;
}

.buttonText {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  color: #FFF;
  padding: 0 0 0 10px;
}

.largeText {
  display: none;
  font-size: 21px;
}

.smallText {
  display: none;
  font-size: 0.8em;
}

@media screen and (min-width: $breakpoint-small) {
  .buttonText {
    display: flex;
  }

  .largeText {
    display: block;
  }
}

@media screen and (min-width: $breakpoint-medium) {
  .container {
    margin-right: 0;
    background-color: $color-radiorevolt-lightgrey;
  }

  .smallText {
    display: block;
  }
}
