@import '../../../variables.scss';

.shows {
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 6px;
  justify-items: center;
}

.hidden {
  display: none;
}

@media screen and (min-width: $breakpoint-small) {
  .shows {
    grid-row-gap: 12px;
    grid-template-columns:repeat(3, 32%);
    grid-column-gap: 2%;
  }
}

@media screen and (min-width: $breakpoint-medium) {
  .shows {
    grid-template-columns: repeat(3, 32%);
    grid-column-gap: 2%;
  }
}

@media screen and (min-width: $breakpoint-large ) {
  .shows {
    grid-template-columns: repeat(4, 24%);
    grid-column-gap: 1%;
    grid-row-gap: 12px;
  }
}

