@import '../../../variables.scss';

.shows {
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 15px;
  /* justify-items: center; */
}

.hidden {
  display: none;
}

@media screen and (min-width: $breakpoint-small) {
  .shows {
    grid-template-columns: 49% 49%;
    grid-column-gap: 2%;
  }
}

 @media screen and (min-width: $breakpoint-medium) {
  .shows {
    grid-template-columns: 48% 48%;
    grid-column-gap: 4%;
  }
} 
