@import 'variables.scss';

.checkbox {
  padding: 10px;
  font-size: 21px;
}

.box {
  margin: 4px 10px;
}

.text {
  font-size: 16px;
  border-radius: 0.3em;
  margin-left: -0.5em;
  padding: 0.1em 0.5em;
}

label{
  display: flex;
}
