@import 'variables.scss';

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;

  flex: 1;
  height: $header-height;
  

  color: $color-text-light;
  background-color: $color-radiorevolt-lightgrey;

  // Change to light color for outline, due to dark background
  a, button {
    &:focus {
      outline-color: white;
    }
  }
}

.headerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  flex: 1;
  max-width: $breakpoint-large;
}
