@import 'variables.scss';

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;

  flex: 1;
  height: $header-height + 15px;
  

  color: $color-text-light;
  background-color: $color-radiorevolt-lightgrey;
}

.headerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  flex: 1;
  max-width: $breakpoint-large;
}

@media screen and (min-width: $breakpoint-large) {
  .headerContent {
    // display hamburger menu
  }
}
