.srOnly {
  /*
  Combination of CSS tricks that hide the element without removing it from
  the document structure used by screen-readers
  */
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
