@import 'variables.scss';

$social-media-button-sidebar: 2 * (2 * $social-media-button-width + 6 * $social-media-button-margin);

.sidebar {
  position: fixed;
  left: calc(50% + #{$breakpoint-large} / 2);
  bottom: $player-height;
  margin-bottom: $social-media-button-margin;
  margin-left: 5px;
  display: none;
  flex-direction: row;
  justify-content: flex-start;
}

@media screen and (min-width: $breakpoint-large + $social-media-button-sidebar) {
  .sidebar {
    display: flex;
  }
}
