@import 'variables.scss';

.footer {
  background-color: $color-radiorevolt-lightgrey;
  width: 100%;
  min-height: 10rem;
  margin-top: 5rem;
  padding: 3rem 0;
  color: $color-text-light;
}

.content {
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

.footerLink {
  color: $color-text-light;
  text-decoration: none;
}

.footerLink:hover {
  text-decoration: underline;
}

@media screen and (min-width: $breakpoint-large) {
  .content {
    max-width: $breakpoint-large;
  }
}
