@import 'variables.scss';

.container  {
  position: relative;
  display: block;
  /* width: 100%; */
  height: auto;
  // Negative margin to force element to take
  // full width of container on smaller devices.
  margin: 0 -2.6% ;
  padding: 20px;

  color: $color-text-light;
  background-color: $color-radiorevolt-lightgrey;

  .playerContainer {
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    width:100%;
    margin-bottom: -2em;
    /* vertical-align: bottom; */
  }

  /* .player {
    position: relative;
    width: 100%;
  } */

  .title {
    font-size: 1.5em;
    margin: 0 0 10px 2.5%;
    text-align: center;
  }
}

.showsContainer  {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  width: 100%;
  height: 40%;
  margin: 1.5em 0 6em 0;
  padding: 0;

  .showImage {
    padding: 0.3em;
    display: flex;
    background-color: white;
    width: 100%;
    justify-content: center;
    align-content: center;
    transition: all 0.4s linear;
    img {
      opacity: 0.4;
      filter: alpha(opacity=40); /* For IE8 and earlier */
      transition: all 0.4s linear;
    }
  }

  .selected {
    outline: solid $color-radiorevolt-orange 7px;
    transform: scale(1.02);
    img {
      opacity: 1;
      filter: alpha(opacity=100)
    }

  }
  
   .unselected {
    outline: solid $color-radiorevolt-lightgrey 1px;
  } 
}

@media screen and (min-width: $breakpoint-large) {
  .container {
    margin: 0 auto;
    height: auto;
    max-width: $breakpoint-large;
    grid-column-start: 2;
    grid-column-end: 3;

    .title {
      font-size: $frontpage-title-size*(5/6);
      font-weight: bold;
      margin-top:-2.5%;
    }
  }

  .showsContainer {
    margin: 1em 0 1.5em 0;
  }

  .imageText {
    font-size: 1.5em;
  }
}
