@import 'variables.scss';

.container  {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  // Negative margin to force element to take
  // full width of container on smaller devices.
  margin: 0 -2.6%;
  padding: 20px;

  color: $color-text-light;
  background-color: $color-radiorevolt-lightgrey;

  .playerContainer {
    position: relative;
    margin
    bottom: 0;
    width:100%;
    vertical-align: bottom;
  }

  /* .player {
    position: relative;
    width: 100%;
  } */

  .date {
    padding: 2em;
    text-align: center;
  }
}

.showsContainer  {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  width: 100%;
  height: 35%;

  margin: 0 ;
  padding: 0;

  .showImage {
    background-color: #825377;
    width: 100%;
    height: 100%;
    justify-self: center;
    align-content: center;
    text-align: center;
    vertical-align: text-bottom;
    justify-content: center;
  }
}

.selected {
  outline: solid $color-radiorevolt-orange 7px;
  transform: scale(1.02);
}

.title {
  font-size: $frontpage-title-size;
  margin: 0 0 10px 2.5%;
}

.highlightedShows {
  display: inline-block;
  position: relative;
  margin: 0 0 0 2.5%;
  width: 25%;
  height: 30%;
  flex-shrink: 0;
}

@media screen and (min-width: $breakpoint-large) {
  .container {
    margin: 0 auto;
    max-width: $breakpoint-large;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .imageText {
    font-size: 1.5em;
  }
}
