.post {
  margin: 0 auto;
}

.post a {
  background: transparent !important;
  color: black;
  text-decoration-color: #ECB61C;
}

.title {
  margin-bottom: 0;
}

.meta {
  color: gray;
}

.createdBy {
  margin-right: 0.3rem;
}
