@import '../../variables.scss';

.post {
  margin: 0 auto;
}

.title {
  margin-bottom: 0;
}

.meta {
  color: $color-text-dark;
}

.createdBy {
  margin-right: 0.3rem;
}

.post iframe {
  max-width: 100%;
}