@import '../../variables.scss';

.container {
  display: grid;
  grid-template-columns: 25vw 25vw 25vw 12.5vw 12.5vw;
  grid-template-rows: $player-height-desktop/2 $player-height-desktop/2;
  grid-template-areas:
    'PlayingInfo AudioControls AudioControls LiveTag Expander'
    'PlayingInfo ProgressBar ProgressBar LiveTag Expander';
  background-color: #333;
  position: fixed;
  bottom: 0;
}

.playingInfoContainer {
  grid-area: PlayingInfo;
  align-self: center;
}

.audioControls {
  grid-area: AudioControls;
  transform: scale(0.7);
  z-index: 1;
  justify-self: center;
}

.audioControlsLive {
  grid-row-start: AudioControls;
  grid-row-end: ProgressBar;
  grid-column-start: AudioControls;
  grid-column-end: ProgressBar;
  transform: scale(0.7);
  align-self: center;
  justify-self: center;
}

.progressBar {
  grid-area: ProgressBar;
  align-self: center;
  color: white;
}

.liveTag {
  grid-area: LiveTag;
  align-self: center;
  justify-self: center;
}

.expander {
  transform: scale(3);
  grid-area: Expander;
  align-self: center;
  justify-self: end;
  margin-right: 3vw;
}
