@import '../../variables.scss';

.expandedContainer{
  display: grid;
  text-align:center;
  color:white;/* unødvendig */
  height: 100%;
  background-color: #333;
  position: fixed;
  width: 100%;
  transition: all 0.4s ease;
  z-index: 4;
  grid-template-rows: 1fr 50px;
  .expanderButton{
    padding: 0 0 1rem 0;
    margin: 0;
    cursor: pointer;
  }
}

.expanded {
  bottom:0;
}

 .hidden {
  bottom:-150%;
} 

.metaContainer {
  display: flex;
  flex-direction: column;
  height: $player-height + 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 3;

  .timeline {
    border-top: 3px solid #EBB71F;
  }

  .container {
    display: flex;
    flex-direction: row;
    height: $player-height;
    background-color: #333;
    width: 100%;

    
    
    .controlContainer {
      display: flex;
      flex-shrink: 1;
      flex-direction: row;
      justify-items: flex-end;
      justify-content: right;
      align-items: center;
      justify-self: end;
      padding: 0 10px;
    }
  }
}
