@import '../../variables.scss';

.expandedContainer{
  display: flex;
  flex-direction: column;
  text-align:center;
  color:white;/* unødvendig */
  height: 100%;
  background-color: #333;
  position: fixed;
  width: 100%;
  transition: all 0.2s ease-in-out;
  z-index: 4;
}


.expanded {
  bottom:0;
}

 .hidden {
  bottom:-100%;
} 


.container {
  display: flex;
  flex-direction: row;
  height: $player-height;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 3;
  
  .controlContainer {
    display: flex;
    flex-shrink: 1;
    flex-direction: row;
    justify-items: flex-end;
    justify-content: right;
    align-items: center;
    justify-self: end;
    padding: 0 10px;
  }
}
