$breakpoint-large: 1000px;
$breakpoint-medium: 800px;
$breakpoint-small: 550px;

$color-radiorevolt-orange: #ECB61C;
$color-radiorevolt-white: #F5F5F5;
$color-radiorevolt-lightgrey: #222;
$color-radiorevolt-darkgrey: #111;

$color-text-light: #DDD;
$color-text-dark: #808080;

$player-height: 50px;

$social-media-button-width: 50px;
$social-media-button-margin: 5px;
$social-media-button-breakpoint: $breakpoint-large + 2 * (2 * $social-media-button-width + 7 * $social-media-button-margin);
